.container {
    width: 50%;
    height: 400px;
    margin: 2px solid red;
    background-color: aqua;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-around;
}

.container1 {

    margin: 2px solid rgb(225, 255, 0);
    background-color: blue;
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 400px;
    justify-content: space-around;
}

.cont {
    background-color: rgb(255, 0, 81);
    width: 30%;
    height: 30%;
}