.container{

margin: 2px solid red;
background-color: aqua;
display: flex;
flex-direction: row;
width: 50%;
height: 400px;
align-items: center;
}

.container1{

margin: 2px solid rgb(225, 255, 0);
background-color: blue;
display: flex;
flex-direction: row;
width: 50%;
height: 400px;

}

.cont{
    background-color: rgb(255, 0, 81);
    }